In [1]:
# Importing required modules
import pandas as pd
from sqlalchemy import inspect, create_engine

In [2]:
# Location of csv documents
Cad_trending_loc = "CSV files/CAvideos.csv"
Subscribers_loc = "CSV files/channels.csv"

In [3]:
# Reading csv files using pandas
cad_trend = pd.read_csv(Cad_trending_loc)
subscribers = pd.read_csv(Subscribers_loc)

In [4]:
# Cleaning Data for trending videos
cad_trend = cad_trend[["channel_title","title", "category_id","views","likes","dislikes","comment_count"]]
cad_trend.head()

,channel_title,title,category_id,views,likes,dislikes,comment_count
0,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,17158579,787425,43420,125882
1,iDubbbzTV,PLUSH - Bad Unboxing Fan Mail,23,1014651,127794,1688,13030
2,Rudy Mancuso,"Racist Superman | Rudy Mancuso, King Bach & Le...",23,3191434,146035,5339,8181
3,nigahiga,I Dare You: GOING BALD!?,24,2095828,132239,1989,17518
4,Ed Sheeran,Ed Sheeran - Perfect (Official Music Video),10,33523622,1634130,21082,85067

In [5]:
# Changing column names
cad_trend.rename(columns = {"channel_title": "Channel Name", "title": "Video Name", "category_id":"Category ID",\
                           "views":"Views","likes":"Likes","dislikes":"Dislikes","comment_count":\
                            "Number of Comments"},inplace = True)
cad_trend.head()

,Channel Name,Video Name,Category ID,Views,Likes,Dislikes,Number of Comments
0,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,17158579,787425,43420,125882
1,iDubbbzTV,PLUSH - Bad Unboxing Fan Mail,23,1014651,127794,1688,13030
2,Rudy Mancuso,"Racist Superman | Rudy Mancuso, King Bach & Le...",23,3191434,146035,5339,8181
3,nigahiga,I Dare You: GOING BALD!?,24,2095828,132239,1989,17518
4,Ed Sheeran,Ed Sheeran - Perfect (Official Music Video),10,33523622,1634130,21082,85067

In [6]:
# Cleaning Data for subscribers videos
subscribers = subscribers[["title","category_name","followers","videos"]]
subscribers.head()

             title  category_name  followers  videos
0        PewDiePie  Entertainment   69896406    3649
1         T-Series          Music   69471946   12820
2    Justin Bieber  Entertainment   41858494     132
3  5-Minute Crafts  Howto & Style   40474509    2350
4              WWE         Sports   36301947   37928

In [7]:
# Changing column names
subscribers.rename(columns = {"title": "Channel Name","category_name":"Category Name",\
                              "followers":"Followers", "videos": "Number of Videos"},inplace = True)
subscribers.head()

      Channel Name  Category Name  Followers  Number of Videos
0        PewDiePie  Entertainment   69896406              3649
1         T-Series          Music   69471946             12820
2    Justin Bieber  Entertainment   41858494               132
3  5-Minute Crafts  Howto & Style   40474509              2350
4              WWE         Sports   36301947             37928

In [8]:
# Merging documents
Youtube = pd.merge(cad_trend,subscribers, on ="Channel Name")
Youtube.head()

,Channel Name,Video Name,Category ID,Views,Likes,Dislikes,Number of Comments,Category Name,Followers,Number of Videos
0,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,17158579,787425,43420,125882,Music,26572348,82
1,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,20539417,840642,47715,124236,Music,26572348,82
2,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,22702386,869304,50018,123235,Music,26572348,82
3,EminemVEVO,Eminem - Walk On Water (Audio) ft. Beyonc√©,10,24578152,891283,51978,125444,Music,26572348,82
4,EminemVEVO,Walk On Water/Stan/Love The Way You Lie (Medle...,10,1535199,153770,2439,16875,Music,26572348,82

# Connect to local database

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/youtube_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
engine.table_names()

['youtube']

In [11]:
Youtube.to_sql(name='youtube', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Views" of relation "youtube" does not exist
LINE 1: ...ube ("Channel Name", "Video Name", "Category ID", "Views", "...
                                                             ^

[SQL: INSERT INTO youtube ("Channel Name", "Video Name", "Category ID", "Views", "Likes", "Dislikes", "Number of Comments", "Category Name", "Followers", "Number of Videos") VALUES (%(Channel Name)s, %(Video Name)s, %(Category ID)s, %(Views)s, %(Likes)s, %(Dislikes)s, %(Number of Comments)s, %(Category Name)s, %(Followers)s, %(Number of Videos)s)]
[parameters: ({'Channel Name': 'EminemVEVO', 'Video Name': 'Eminem - Walk On Water (Audio) ft. Beyonc√©', 'Category ID': 10, 'Views': 17158579, 'Likes': 787425, 'Dislikes': 43420, 'Number of Comments': 125882, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Eminem - Walk On Water (Audio) ft. Beyonc√©', 'Category ID': 10, 'Views': 20539417, 'Likes': 840642, 'Dislikes': 47715, 'Number of Comments': 124236, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Eminem - Walk On Water (Audio) ft. Beyonc√©', 'Category ID': 10, 'Views': 22702386, 'Likes': 869304, 'Dislikes': 50018, 'Number of Comments': 123235, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Eminem - Walk On Water (Audio) ft. Beyonc√©', 'Category ID': 10, 'Views': 24578152, 'Likes': 891283, 'Dislikes': 51978, 'Number of Comments': 125444, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Walk On Water/Stan/Love The Way You Lie (Medley/Live From Saturday Night Live/2017)', 'Category ID': 10, 'Views': 1535199, 'Likes': 153770, 'Dislikes': 2439, 'Number of Comments': 16875, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Walk On Water/Stan/Love The Way You Lie (Medley/Live From Saturday Night Live/2017)', 'Category ID': 10, 'Views': 2653677, 'Likes': 208706, 'Dislikes': 3697, 'Number of Comments': 21614, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Walk On Water/Stan/Love The Way You Lie (Medley/Live From Saturday Night Live/2017)', 'Category ID': 10, 'Views': 3070103, 'Likes': 222200, 'Dislikes': 4092, 'Number of Comments': 22789, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}, {'Channel Name': 'EminemVEVO', 'Video Name': 'Walk On Water/Stan/Love The Way You Lie (Medley/Live From Saturday Night Live/2017)', 'Category ID': 10, 'Views': 3460772, 'Likes': 232830, 'Dislikes': 4464, 'Number of Comments': 23565, 'Category Name': 'Music', 'Followers': 26572348, 'Number of Videos': 82}  ... displaying 10 of 30818 total bound parameter sets ...  {'Channel Name': 'Corridor', 'Video Name': 'TactiCOOL RELOADS', 'Category ID': 24, 'Views': 345870, 'Likes': 36481, 'Dislikes': 230, 'Number of Comments': 2082, 'Category Name': 'Entertainment', 'Followers': 5306151, 'Number of Videos': 165}, {'Channel Name': 'DKDKTV', 'Video Name': 'What Koreans Think of BTS NOW? [2018 ver.] üíú', 'Category ID': 24, 'Views': 191974, 'Likes': 19681, 'Dislikes': 79, 'Number of Comments': 3414, 'Category Name': 'People & Blogs', 'Followers': 337703, 'Number of Videos': 573})]
(Background on this error at: http://sqlalche.me/e/f405)